    <footer id="footer">
      <div class="wrapper">
        <div class="copyright">
          <p>&copy; 2017 Legacy Practice advisors – all rights reserved</p>
          <dl>
            <dt>Site by</dt>
            <dd><a href="https://www.brightoak.com/" target="_blank">Brightoak</a></dd>
          </dl>
        </div>
        <div class="nav">
          <ul>
            <li><a href="">Articles</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Apply</a></li>
          </ul>
          <ul class="socials">
            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <!-- partial:_nav.html -->
  <!-- partial -->
  <script src="js/headroom.min.js"></script>
  <script src="js/mixitup.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>