<div id="fader">
  <div id="attend-popup">
    <form action="" class="attend-form" method="POST">
      <div class="fieldset">
        <div class="heading">
          <h3>Lorem ipsum dolor sit</h3>
          <p>Nunc augue ipsum, pretium id massa id, cursus sagittis nisi.</p>
        </div>
        <div class="field">
          <label for="fullname">Full Name</label>
          <input type="text" class="txt required" name="fullname" id="fullname">
        </div>
        <div class="field">
          <label for="phonenumber">Phone Number</label>
          <input type="tel" class="txt required" name="phonenumber" id="phonenumber">
        </div>
        <div class="field">
          <label for="emailaddress">Email Address</label>
          <input type="email" class="txt required" name="emailaddress" id="emailaddress">
        </div>
        <button type="button" class="btn">Apply</button>
      </div>
      <div class="completed">
        <span class="img">
          <img src="images/ico-sent.png" alt="" width="112" height="112">
        </span>
        <h3>Lorem ipsum Sent!</h3>
        <p>Sed feugiat interdum nibh sodales pellentesque. In nec porta est, ut cursus enim. Curabitur ac malesuada nisl. Phasellus vehicula justo id tellus lobortis eu luctus sem tristique.</p>
        <a href="" class="btn">Secondary CTA</a>
      </div>
    </form>
    <span class="close"></span>
  </div>
</div>