<div id="nav">
  <div class="inner">
    <strong class="logo"><a title="Legacy Practice Advisors" href=""><img src="images/logo-nav.png" alt="Legacy Practice Advisors" width="61" height="74"></a></strong>
    <ul>
      <li><a href="">Articles</a></li>
      <li><a href="">Events</a></li>
      <li><a href="">Apply</a></li>
    </ul>
    <ul class="socials">
      <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    </ul>
    <span class="nav-close"></span>
  </div>
</div>